@{

}

<div class="text-center">
    <h1 class="display-4">Welcome to Engineering page</h1>

    <h3>@ViewBag.RequestId1</h3>
    <h3>@ViewBag.RequestId2</h3>
    <h3>@ViewBag.StartTime</h3>
</div>
