@page
@model GameStore.Pages.GamesModel
@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>

<div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="games" role="tabpanel">
        <h4>Games List</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model.Games)
                {
                    <tr>
                        <td>@g.Id</td>
                        <td>@g.Name</td>
                        <td>@g.Genre</td>
                        <td>@g.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
