@page
@model GameStore.Pages.GamesModel
@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>

<div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="games" role="tabpanel">
        <h4>Games List</h4>

        <form method="post" class="mb-4">
            <div class="row g-2">
                <div class="col-md-3">
                    <input asp-for="NewGame.Name" class="form-control" placeholder="Title" />
                </div>
                <div class="col-md-3">
                    <input asp-for="NewGame.Genre" class="form-control" placeholder="Genre" />
                </div>
                <div class="col-md-2">
                    <input asp-for="NewGame.Price" class="form-control" placeholder="Price" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Add Game</button>
                </div>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model.Games)
                {
                    <tr>
                        <td>@g.Id</td>
                        <td>@g.Name</td>
                        <td>@g.Genre</td>
                        <td>@g.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
